.victorious {
  word-break: break-word;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--accent2);
  border-top: 1px solid var(--accent2);
  padding: 0.5px;
  color: var(--accent2);
}

.wrapper {
  background: var(--gradient);
  padding: 1px;
  align-self: start;
  width: min-content;
  max-width: 90%;
  border-radius: 10px;
  border-top-left-radius: 0;
}

.wrapper.author {
  align-self: end;
  border-radius: 10px;
  border-top-right-radius: 0;
}

.message {
  background-color: #fff;
  word-break: break-word;
  align-self: start;
  width: max-content;
  max-width: 100%;
  padding: 2px 10px;
  border-radius: 10px;
  border-top-left-radius: 0;
}

.message.author {
  align-self: end;
  border-radius: 10px;
  border-top-right-radius: 0;
}
